# Environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Data (Keep raw data off GitHub for security/size)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS files
.DS_Store
Thumbs.db

# Large Model weights
models/*.pkl
models/*.pt